__pycache__/
*.pyc
.venv/
venv/
.env
.DS_Store
spool/
*.log
config.local.yaml
config.backup.yaml
config.yaml
config.crop.yaml
dataset/
models/*.tflite

# Training outputs
training/.venv/
training/scoreboard_saved_model/
training/*.tflite
training/labels.txt
